

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

In [2]:
x=10
x

10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

In [4]:
is_valid=True
is_valid

True

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [5]:
name="Python Programming"
print(name)
type(name)

Python Programming

str

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

In [7]:
sum_result=5+3
print(sum_result)

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [12]:
a,b,c=5,10,15
print(a,b,c)

5 10 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

In [14]:
x=10
y=x
print(y)

10

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

In [15]:
gravity=9.8
print(gravity)

9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [17]:
country="Rwanda"
print(country)
type(country)

Rwanda

str

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [19]:
age=25
age=26
print(age)

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [20]:
g=20-7
print(g)

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [29]:
d, k=35, 35.05
print(d,k)
print(type(k))
print(type(d))

35 35.05
<class 'float'>
<class 'int'>

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [ ]:
is_completed=False
print(is_completed)

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [20]:
var_1=True
var_2=False
var_1,var_2 = int(var_1),int(var_2)
k1= var_1+var_2
k2=var_1-var_2
k3=var_2*var_1
print(k1,k2,k3)

## alternative

x = 5
y = 10

# Swapping using a temporary variable
temp = x
x = y
y = temp

print("x =", x)
print("y =", y)

1 1 0
x = 10
y = 5

In [ ]:
### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [38]:
complex_num=3+4j
print(complex_num)

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [42]:
d=116
d=str(d)
type(d)

str

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [47]:
first_name="Jean"
last_name="MANIRIHO"
print(first_name,last_name)

Jean MANIRIHO

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [ ]:
temperature=35.5
print(temperature)

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [1]:
a=8
b=6
product=a*b
print(product)

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [2]:
sentence=" education is key of life"
print(sentence)

 education is key of life

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [6]:
int_value=int('50')
print(int_value)

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [4]:
quotient=144/12 ## with decimal
print(quotient)

12.0

In [5]:
quotient=144//12   ### integer division
print(quotient)

12

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [3]:
remainder=47%5
print(remainder)

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [ ]:
is_student=True
print(is_student)

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

In [ ]:
remainder=45%4
print(remainder)

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

In [ ]:
pi=3.14159
print(pi)

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

In [3]:
length=4.5
width=5
area=length*width
print(area)

22.5

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

In [4]:
negative_value=-18
print(negative_value)

-18

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

In [5]:
greeting="Guten Abend!"
print(greeting)

Guten Danke!

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [6]:
population=7_800_000_000
print(population)

7800000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

In [7]:
x=2**8
print(x)

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [14]:
fruits=(2,3,4,5,50)
print(fruits)

(2, 3, 4, 5, 50)

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

In [2]:
coordinates = (10, 20, 30)  # Tuple with three numbers
print(coordinates)

(10, 20, 30)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [1]:

person = {"name": "Dangote", "age": 27}  # Dictionary with keys 'name' and 'age'
print(person)

(10, 20, 30)
{'name': 'Dangote', 'age': 27}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [ ]:
a=3.5
b=44.5
np.sum()

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

In [15]:
is_sunny=10>5
print(is_sunny)

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

In [18]:
x,y="Ali",20
print(x,y)

Ali 20

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [19]:
a=5
a=True
print(a)

True

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [20]:
is_weekend=False
print(is_weekend)

False

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [19]:
# Multi-line string assignment
description = """This is a multi-line string.
It can span multiple lines.
Each line will be preserved in the variable."""
print(description)

This is a multi-line string.
It can span multiple lines.
Each line will be preserved in the variable.

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [21]:
floor_div_result=100//6
print(floor_div_result)

16

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [18]:
f=3.05 ## floot
g=80 ## integer

mixed_sum=f+g
print(mixed_sum)

83.05

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

In [ ]:

a = 10
b = 15

is_greater = a > b  # This will be False because 10 is not greater than 15

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

-

In [22]:
quote="Education is great weapon to change the world"
len(quote)

45

--

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [23]:
division_result=7/3
print(division_result)

2.3333333333333335

---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

In [24]:
speed = 100  # speed in kilometers per hour
print("Speed is:", speed, "km/h")

Speed is: 100 km/h

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

In [7]:
# Exercise 47
x = 4
y = 3 * x + 5
print("y =", y)  # Output: 17

y = 17

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [15]:

import pandas as pd
import numpy as np
a=34
b=45
c=78
f=[a,b,c]
print(f)
average=np.mean(f) ## by command np.mean()

print(average)

average=sum(f)/len(f) ### by sum and lenght of vector
print (average)

[34, 45, 78]
52.333333333333336
52.333333333333336